*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
}
.topBar{
    background-color: darkgoldenrod;
}
.logo{
    color: ivory;
    text-align: center;
    font-size: 50px;
}
form{
    text-align: center;
}
.LoginTitle{
    text-align: center;
    color: white;
}
.Login{
    text-align: center;
}
.loginBtn{
    font-size: 35px;
    color: ivory;
    background-color: darkgoldenrod;
    text-decoration: none;
    border-radius: 10px;
}
.registerBtn{
    font-size: 35px;
    color: ivory;
    background-color: darkgoldenrod;
    text-decoration: none;
    border-radius: 10px;
}
.backBtn{
    float: left;
    margin-left: 10px;
    font-size: 35px;
    background-color: darkgoldenrod;
    text-decoration: none;
    border-radius: 10px;
    color: ivory;
}
.registerTxt{
    text-align: center;
}
.container{
    text-align: center;
}
body{
    background-color: cornflowerblue;
}
.regFail{
    text-align: center;
}
.loginFail{
    text-align: center;
}
.logOut{
    text-align: right;
    margin-right: 100px;
}

#taskDiv{
    background-color: darkorange;
    margin: 0 auto;
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    color: black;
}
.bordered-task-container {
    border: 1px solid black; 
    margin: 5px; 
    padding: 10px; 
    border-radius: 10px;
}
#add{
    color: white;
}